input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
input:-moz-autofill{
      -moz-box-shadow: 0 0 0 1000px white inset !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Write new css for the website from here */
a{
  color:dimgray;
}
*{
  text-decoration:none;
  outline:0;
  margin: 0;
  padding: 0;
}
button{
  cursor:pointer;
}
.signup-container {
  margin:70px auto;
  max-width:350px;
  padding: 20px;
  border-radius: 8px;
}
.signup-container select{
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.signup-title {
  text-align:left;
  font-size:25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.signup-input{
  width:calc(100% - 20px);
  padding:10px;
  margin-bottom:20px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight:550;
  color: #ffffff;
  background-color:rgb(219, 77, 68);
  border: none;
  border-radius: 5px;
}
.signup-login{
  margin-top:15px;
  text-align:center;
}
.signup-login a{
  font-weight:550;
}
.password-wrapper i{
  font-size:20px;
  cursor: pointer;
}
.password-wrapper{
  border:1px solid #ddd;
  display: flex;
  align-items: center;
  padding-right: 5px;
  border-radius:5px;
  margin-bottom: 10px;
}
.signup-container label{
  margin-top: 20px;
  color:rgb(73, 73, 73);
  position: relative;
  bottom:3px;
}
/*  navbar */
nav{
  border-bottom:.1px solid #ddd;
}
nav,.nav-right-side{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.nav-right-side i{
  font-size:25px;
}
.login-signup , .list{
  padding-right: 10px;
  height:70px;
  padding-left: 10px;
  border-left:.1px solid #ddd;
  font-weight:550;
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo{
  padding-left: 10px;
}

/* footer css */
.footer-container {
  background-color: black;
  color: rgb(218, 218, 218);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px;
}

.footer-title {
  color: darkgrey;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-description, .footer-note {
  font-size: 14px;
  line-height: 1.5;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-link {
  font-size:14px;
  color: rgb(209, 209, 209);
  margin-bottom: 5px;
  display: block;
}

.footer-link:hover {
  color:white;
}

/* hotel admin - dashboard */
.lp-container{
  padding: 10px 20px 20px;
  border-radius:5px;
  background-color:rgb(251, 251, 251);
}

.lp_form_group {
  display: flex;
  flex-direction: column;
}

.lp_form_group label {
  margin-top:10px;
  margin-bottom:5px;
  font-size:14px;
}

.lp_input, .lp_select {
  padding:10px;
  background-color:whitesmoke;
  border:0;
  border-radius:5px;
}

.lp_amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.lp_checkbox {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}

.lp_checkbox input[type="checkbox"] {
  display: none; 
}

.lp_checkbox .custom_checkbox {
  display: inline-block;
  padding: 8px 12px;
  border: 0.1px solid lightgrey;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 14px;
  margin:-7px 0;
  font-weight:500;
}

.lp_checkbox input[type="checkbox"]:checked + .custom_checkbox {
  background-color: black;
  border: 0.1px solid lightgrey;
  color: white;
}

#images{
  padding: 20px;
  background-color:rgb(251, 251, 251);
}
.lp_button{
  padding:10px 30px;
  font-size:14px;
  border-radius:5px;
  background-color:rgb(219, 77, 68);
  border:0;
  font-weight:550;
  color:white;
  margin-top: 20px;
}
input::file-selector-button {
  border:0;
  padding: 10px;
  margin-right:10px;
  border-radius:5px;
  cursor: pointer;
}

/* main dashboard */
.dashboard-container {
  display: flex;
  min-height: 100vh;
}
.dashboard-container h3{
  margin-bottom: 20px;
  font-weight:500;
  margin-top: 10px;
}
.dashboard-sidebar {
  padding:20px;
  min-width:200px;
  border-right: 1px solid #eee;
}
.ha-link-grp{
  display: flex;
  flex-direction: column;
}
.ha-link-grp a.active{
  background-color: rgba(247, 247, 247, 1);
}
.ha-link-grp a {
  padding: 10px 15px;
  color: #000;
  margin-bottom:10px;
  border-radius: 4px;
}
.dashboard-content {
  padding: 20px;
}